.current-page {
    font-size: 1.5rem;
    vertical-align: middle;
  }
  
  .country-card-container {
    height: 60px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .country-name {
    font-size: 0.9rem;
  }
  
  .country-region {
    font-size: 0.7rem;
  }
  
  .country-page,
  .country-name,
  .country-region {
    line-height: 1;
  }
  
  ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul.pagination li.page-item.active a.page-link {
    color: #FFFFFF !important;
    background-color: #1EA4CE !important;
  }
  ul.pagination a.page-link {
    min-width: 2rem;
    text-align: center;
    box-shadow: none !important;
    color: #6b88a4;
    font-weight: 500;
    font-size: 1rem;
  }
  ul.pagination a.page-link:hover {
    background-color: #f4f4f4;
  }
  